<div class='repo'>
  <h3><a href='http://www.billablemileage.com'>Billable Mileage</a></h3>
  <span class='desc'>Mileage tracking app</span>
</div>
<div class='repo'>
  <h3><a href='http://itunes.apple.com/us/app/roc-memory-2/id448550843?mt=8'>ROC Memory 2</a></h3>
  <span class='desc'>Memory game. Fun for adults, challenging for kids.</span>
</div>
<div class='repo'>
  <h3><a href='http://itunes.apple.com/us/app/pocket-tuner/id469596544?mt=8'>Pocket Tuner</a></h3>
  <span class='desc'>For those of us without perfect pitch, this is an useful app.</span>
</div>

